.dashboard {
  display: flex;
  gap: 20px;
}

.movie {
  height: max-content;

  &-add {
    h1 {
      text-transform: capitalize;
    }

    .form-group {
      margin-top: 20px;

      input {
        border: 1px solid $white;
        width: 400px;
        border-radius: 6px;
        height: 50px;
        padding: 10px;
      }
    }

    ul {
      background-color: $white;
      width: 400px;
      border-radius: 6px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      max-height: 400px;
      gap: 10px;
      overflow-y: auto;
      padding: 10px 20px;

      li {
        color: $black;
      }

      button {
        width: 100%;
        display: flex;
        gap: 10px;
        padding: 5px;

        img {
          width: 50px;
          height: 50px;
          border-radius: 4px;
        }

        .content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 5px;
          justify-content: flex-start;

          strong {
            text-align: left;
          }
        }
      }
    }

    &-body {
      display: flex;
      gap: 40px;
      margin-top: 40px;

      .left {
        img {
          width: 400px;
          height: auto;
          object-fit: contain;
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-top,
        &-mid {
          display: flex;
          flex-direction: column;
          gap: 5px;
          border-bottom: $border;
          padding-bottom: 20px;

          h4 {
            font-size: 34px;
            color: aquamarine;
          }

          span {
            max-width: 700px;
            display: flex;

            b {
              width: 15%;
            }
          }
        }

        &-bottom {
          .btn {
            margin-top: 20px;
            width: 200px;
            background-color: $sucess;
            color: $white;
          }
        }
      }
    }
  }

  &-table {
    border-collapse: collapse;
    margin-top: 60px;

    tr,
    td,
    th {
      border: 1px solid $white;
      padding: 10px;

      img {
        height: 60px;
        width: 60px;
        object-fit: cover;
        border-radius: 3rem;
      }

      a {
        background-color: transparent;
        border: none;
        font-size: 24px;
        color: $sucess;
      }
    }

    th {
      text-transform: capitalize;
    }
  }
}
