// fonts
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

// color
$primary: #212529;
$black: #000;
$white: #fff;
$border-color: #444444;
$red: #ff0000;
$sucess: #5cb85c;

// border
$border: 1px solid $border-color;
